@font-face {
  font-family: "MonteCarlo";
  src: url(../fonts/MonteCarlo-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

$font1: "MonteCarlo", cursive;
$font2: Roboto, sans-serif;
$white: rgb(255, 255, 255);
$black: #21201e;
$grey: rgb(182, 182, 182);
$titlecolor: #ad6c6c;
$pinklight: #fdeae8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $font2;
  //margin-left: 2rem;
  //margin-right: 2rem;
}
