@font-face {
  font-family: "MonteCarlo";
  src: url(../fonts/MonteCarlo-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

$font1: "MonteCarlo", cursive;
$font2: "Roboto", sans-serif;
$white: rgb(255, 255, 255);
$black: #21201e;
$grey: rgb(182, 182, 182);
$titlecolor: #ad6c6c;
$pinklight: #fdeae8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $font2;

  height: 100vh;

}

ul {
  position: relative;
}
ul li a {
  position: relative;
  transition: 0.2s;
  text-decoration: none;
}
.cursor {
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: $pinklight;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  mix-blend-mode: soft-light;
}

.pulse {
  border: $pinklight solid 2px;
  background-color: #fff;

  transform: translate(-50%, -50%) scale(2.5);
  cursor: none;
  pointer-events: none;
}

@keyframes Rotate {
  from {
    transform: scale(1.2) rotate(0deg);
  }
  to {
    transform: scale(0.7) rotate(90deg);
  }
}

@keyframes Pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
