@font-face {
  font-family: "MonteCarlo";
  src: url(../fonts/MonteCarlo-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

$font1: "MonteCarlo", cursive;
$font2: Roboto, sans-serif;
$white: rgb(255, 255, 255);
$black: #21201e;
$grey: rgb(182, 182, 182);
$titlecolor: #ad6c6c;
$pinklight: #fdeae8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $font2;
  cursor: none;

  height: 100vh;
  //margin-left: 2rem;
  //margin-right: 2rem;
}

.cursor {
  z-index: 3;
  width: 50px;
  height: 50px;
  cursor: none;
  border: 3px solid $titlecolor;
  border-radius: 60%;
  position: absolute;
  pointer-events: none;
  animation: Rotate 1s infinite alternate;
}
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: $pinklight;
  border-radius: 50%;
}

.pulse {
  animation: Pulse 0.6s;
  background: $pinklight;
  border: 1px solid $pinklight;
}

@keyframes Rotate {
  from {
    transform: scale(1.2) rotate(0deg);
  }
  to {
    transform: scale(0.7) rotate(90deg);
  }
}

@keyframes Pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
