@font-face {
  font-family: "MonteCarlo";
  src: url(../fonts/MonteCarlo-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

h1 {
  color: #ad6c6c;
  font-family: "MonteCarlo", cursive;
  font-size: 4rem;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 16;
  height: 160px;
}

header img {
  padding: 1rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 15%;
}

nav h2 {
  color: #ad6c6c;
  font-family: "MonteCarlo", cursive;
  font-size: 3rem;
  font-weight: 100;
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #ad6c6c;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}

#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}

#burger-menu.close span:before {
  top: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 27px;
}

#burger-menu.close span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger-menu.close span:after {
  top: 0px;
  left: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border-radius: 70% 0% 0% 0%;
  -webkit-box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background: #fdeae8;
  -webkit-box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
          box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
}

#menu ul {
  padding: 0;
}

#menu li {
  list-style: none;
  display: block;
}

#menu a {
  font-family: "MonteCarlo", cursive;
  color: #ad6c6c;
  font-size: 3rem;
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
}

.circle {
  border-radius: 50%;
  margin: 10px;
  height: 30px;
  width: 30px;
}

.yellow {
  -webkit-box-shadow: 0 0 0 0 #ffb142;
          box-shadow: 0 0 0 0 #ffb142;
  -webkit-animation: pulse-yellow 2s infinite;
          animation: pulse-yellow 2s infinite;
}

@-webkit-keyframes pulse-yellow {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 50px rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 50px rgba(255, 177, 66, 0);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-box-shadow: 0 0 0 20px rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 20px rgba(255, 177, 66, 0);
  }
}

@keyframes pulse-yellow {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 50px rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 50px rgba(255, 177, 66, 0);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-box-shadow: 0 0 0 20px rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 20px rgba(255, 177, 66, 0);
  }
}

.homepage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  height: 100vh;
}

.container_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: normal;
      align-content: normal;
  margin-left: auto;
  margin-right: auto;
}

.container_intro .container_intro_text {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.container_intro .container_intro_text p {
  position: relative;
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
  width: 85%;
}

.container_intro p:after {
  content: "";
  width: 15%;
  height: 5px;
  position: absolute;
  background: #ad6c6c;
  left: 0;
  bottom: -35px;
}

.container_intro .btn_accueil {
  border: solid 5px #fdeae8;
  padding: 1rem;
  border-radius: 3rem;
  background: #fdeae8;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #fdeae8));
  background: linear-gradient(to right, white 50%, #fdeae8 50%);
  font-family: "MonteCarlo", cursive;
  font-size: 2rem;
  color: #ad6c6c;
  width: 20rem;
  margin-top: 5rem;
  cursor: pointer;
  -webkit-transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container_intro .btn_accueil:hover {
  background: -webkit-gradient(linear, left top, right top, to(#fdeae8));
  background: linear-gradient(to right, #fdeae8 100%);
}

.whoAmI {
  height: 100vh;
  position: relative;
}

.whoAmI .whoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whoAmI .whoContainer div {
  max-width: 46%;
}

.whoAmI .whoContainer div h2 {
  font-family: "MonteCarlo", cursive;
  color: #ad6c6c;
  font-size: 3rem;
  font-weight: 100;
  padding: 2.2rem 0 1rem 1.2rem;
}

.whoAmI .whoContainer div p {
  font-size: 1.1em;
  line-height: 2em;
  text-align: justify;
  padding: 2.2rem 0 1rem 1.2rem;
}

.whoAmI .whoContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 50%;
  max-height: 100vh;
  position: absolute;
  right: 0;
}

.sophrologie {
  background-image: url(../img/sophrologie.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 110px;
  margin: 4rem 0 3rem;
}

.positif {
  background-image: url(../img/POSITIF.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 46%;
  height: 94px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.together {
  height: 100vh;
}

.together .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.together .description .description_container {
  position: relative;
  max-width: 15%;
}

.together .description .description_container_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.together .description p {
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
  margin-top: 2rem;
}

.together .paragraphe_desc {
  position: relative;
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
  width: 70%;
  padding-left: 1.2rem;
  padding: 2.2rem 0 1rem 3.2rem;
}

.together .paragraphe_desc:after {
  content: "";
  width: 5rem;
  height: 5px;
  position: absolute;
  background: #ad6c6c;
  left: 3.2rem;
  bottom: -15px;
}

.background::before {
  content: "";
  background: #fdeae8;
  width: 5rem;
  display: block;
  width: 26rem;
  height: 11rem;
  position: absolute;
  border-radius: 2rem;
  left: 20px;
}

.price {
  height: 100vh;
  position: relative;
}

.price .background_price::before {
  content: "";
  background: #fdeae8;
  display: block;
  width: 26rem;
  height: 4rem;
  position: absolute;
  border-radius: 2rem;
  left: 20px;
}

.price .paragraphe_price {
  position: relative;
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
  width: 70%;
  padding-left: 3.2em;
  padding-top: 1em;
}

.price .paragraphe_price::after {
  content: "";
  width: 3em;
  height: 0.3em;
  position: absolute;
  background: #ad6c6c;
  left: 3.2rem;
  bottom: -6px;
  padding-left: 2.2em;
}

.price .info {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  font-size: 1.5em;
  color: #ad6c6c;
  text-align: center;
}

.price_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 45vh;
}

.price_content .price_bulle {
  border: solid 4px #e2ab9a;
  width: 15em;
  height: 15em;
  border-radius: 30em;
  padding: 1.5em;
}

.price_content .price_bulle h3 {
  width: 150px;
  font-family: "MonteCarlo", cursive;
  font-size: 2rem;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.price_content .price_bulle span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  text-align: center;
  color: #ad6c6c;
  font-size: 1.5em;
}

.price_content .price_bulle:nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.price_content .price_bulle:nth-child(1) h3 {
  margin-bottom: 1em;
}

.price_content .price_bulle:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.price_content .price_bulle:nth-child(2) h3 {
  margin-bottom: 1em;
}

.price_content .price_bulle:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.price_content .price_bulle:nth-child(3) h3 {
  margin-bottom: 1em;
}

.price_content .price_bulle:nth-child(4) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.price_content .price_bulle:nth-child(5) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.r {
  background: url(../img/stain.png) no-repeat center;
}

.workshop h1 {
  height: 10vh;
}

.workshop .workShop_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.workshop .workShop_content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.workshop .workShop_content .workShop_text {
  width: 70%;
  font-size: 1.1em;
  line-height: 2em;
  text-align: justify;
}

.contact {
  height: 100vh;
}
/*# sourceMappingURL=index.css.map */