header {
  display: flex;
  align-content: baseline;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  img {
    padding: 1rem;
  }
}

nav {
  display: flex;
  margin: 1em;

  h2 {
    color: $titlecolor;
    font-family: $font1;
    font-size: 2.5rem;
    font-weight: 100;
    margin-right: 0.5em;
  }
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  // transition: all 0.6s ease-in-out;
  transform: translateX(100%);
  border-radius: 70% 0% 0% 0%;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;

  &.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    transform: translateX(0);
    background: $pinklight;
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  }

  ul {
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  li {
    list-style: none;
    display: block;
  }

  a {
    font-family: $font1;
    color: $titlecolor;
    font-size: 2.1em;
    display: block;
    margin-bottom: 0.5em;
    text-decoration: none;
  }
  span {
    font-family: $font2;
    color: $titlecolor;
    font-size: 0.5em;
    margin-right: 0.8em;
  }
}

.circle {
  border-radius: 50%;
  margin: 10px;
  height: 30px;
  width: 30px;
}

.yellow {
  box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
  animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 20px rgba(255, 177, 66, 0);
  }
}

.true {
  overflow: hidden;
}

.container {
  cursor: pointer;
  display: flex;
}
svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

@media only screen and (max-width: 480px) {
  .hideLogo {
    width: 110px;
  }
  nav {
    h2 {
      display: none;
    }
  }
}
