header {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 160px;

  img {
    padding: 1rem;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 15%;
  h2 {
    color: $titlecolor;
    font-family: $font1;
    font-size: 3rem;
    font-weight: 100;
  }
}

#burger-menu {
  height: 27px;
  width: 27px;
  margin: 40px;
  padding: 25px;
  overflow: visible;
  position: relative;
  z-index: 2;
  border-radius: 50px;
  border: solid 2px $titlecolor;

  // THE LINES
  span,
  span:before,
  span:after {
    background: $titlecolor;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.2s ease-in-out;
  }

  span:before,
  span:after {
    content: "";
  }

  // TOP
  span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }

  // MIDDLE
  span {
    right: 50%;
    top: 50%;
    width: 27px;
    transform: translate(50%, -50%);
  }

  // BOTTOM
  span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }

  // ROTATION ON CLICK
  &.close {
    // TOP
    span:before {
      top: 50%;
      transform: rotate(90deg);
      width: 27px;
    }

    // MIDDLE
    span {
      transform: rotate(45deg);
      right: 20%;
      top: 50%;
      width: 27px;
    }

    // BOTTOM
    span:after {
      top: 0;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
  }
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.6s ease-in-out;
  transform: translateX(100%);
  border-radius: 70% 0% 0% 0%;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;

  &.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    transform: translateX(0);
    background: $pinklight;
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  }

  ul {
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  li {
    list-style: none;
    display: block;
  }

  a {
    font-family: $font1;
    color: $titlecolor;
    font-size: 2.1em;
    display: block;
    margin-bottom: 0.5em;
    text-decoration: none;
  }
}

.circle {
  border-radius: 50%;
  margin: 10px;
  height: 30px;
  width: 30px;
}

.yellow {
  box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
  animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 20px rgba(255, 177, 66, 0);
  }
}

.true {
  overflow: hidden;
}
