.whoAmI {
  height: 100vh;
  position: relative;

  .whoContainer {
    display: flex;
    height: 80vh;
    position: relative;
    align-content: center;
    align-items: center;
    div {
      max-width: 46%;
      h2 {
        font-family: $font1;
        color: $titlecolor;
        font-size: 3rem;
        font-weight: 100;
        padding: 2.2rem 0 1rem 1.2rem;
      }
      p {
        font-size: 0.9em;
        line-height: 2em;
        text-align: justify;
        padding: 2.2rem 0 1rem 1.2rem;
      }
    }

    img {
      object-fit: cover;
      max-width: 50%;
      max-height: 100vh;
      position: absolute;
      right: 0;
    }
  }
}

.img_responsive_sandra {
  display: none;
}

.positif {
  background-image: url(../img/POSITIF.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 46%;
  height: 94px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .whoamI {
    height: auto !important;
  }
  h2 {
    text-align: center !important;
  }
  .whoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      position: relative !important;
    }
    div {
      max-width: 80% !important;
    }
  }
  .sandra_pizel {
    display: none;
  }

  .img_responsive_sandra {
    display: block !important;
  }
}
