.together {
  //height: 100vh;

  .description {
    display: flex;
    justify-content: space-around;

    .description_container {
      position: relative;
      max-width: 15%;
    }
    .description_container_img {
      object-fit: cover;
      width: 100%;
    }

    p {
      font-size: 0.9em;
      line-height: 2em;
      text-align: justify;
      margin-top: 2rem;
    }
  }
  .paragraphe_desc {
    position: relative;
    font-size: 0.9em;
    line-height: 2em;
    text-align: justify;
    width: 70%;
    padding-left: 1.2rem;
    padding: 2.2rem 0 1rem 3.2rem;
  }

  .paragraphe_desc:after {
    content: "";
    width: 5rem;
    height: 5px;
    position: absolute;
    background: #ad6c6c;
    left: 3.2rem;
    bottom: -15px;
  }
}

.background::before {
  content: "";
  background: #fdeae8;
  width: 5rem;
  display: block;
  width: 26rem;
  height: 11rem;
  position: absolute;
  border-radius: 2rem;
  left: 20px;
}
