.price {
  height: 100vh;
  position: relative;
  .background_price::before {
    content: "";
    background: #fdeae8;
    display: block;
    width: 26rem;
    height: 4rem;
    position: absolute;
    border-radius: 2rem;
    left: 20px;
  }
  .paragraphe_price {
    position: relative;
    font-size: 0.9em;
    line-height: 2em;
    text-align: justify;
    width: 70%;
    padding-left: 3.2em;
    padding-top: 1em;
    &::after {
      content: "";
      width: 3em;
      height: 0.3em;
      position: absolute;
      background: #ad6c6c;
      left: 3.2rem;
      bottom: -6px;
      padding-left: 2.2em;
    }
  }
  .info {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    font-size: 1.5em;
    color: $titlecolor;
    text-align: center;
  }
}
.price_content {
  display: flex;
  justify-content: center;
  height: 75vh;
  flex-direction: column;

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 45vh;
  }

  .price_bulle {
    border: solid 4px #e2ab9a;
    width: 15em;
    height: 15em;
    border-radius: 30em;
    padding: 1.5em;
    h3 {
      width: 150px;
      font-family: $font1;
      font-size: 2rem;
      font-weight: 100;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    span {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      text-align: center;
      color: $titlecolor;
      font-size: 1.5em;
    }
  }

  .price_bulle:nth-child(1) {
    align-self: flex-end;
    h3 {
      margin-bottom: 1em;
    }
  }

  .price_bulle:nth-child(2) {
    align-self: flex-start;
    h3 {
      margin-bottom: 1em;
    }
  }

  .price_bulle:nth-child(3) {
    align-self: flex-end;
    h3 {
      margin-bottom: 1em;
    }
  }

  .price_bulle:nth-child(4) {
    align-self: flex-start;
  }

  .price_bulle:nth-child(5) {
    align-self: flex-end;
  }
}

.r {
  background: url(../img/stain.png) no-repeat center;
}

@media only screen and (max-width: 1247px) {
  h1 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 1070px) {
  h1 {
    font-size: 2.5em;
  }
  .cursor {
    display: none;
  }
  body {
    cursor: pointer;
  }
}
@media only screen and (max-width: 900px) {
  .price {
    height: auto;
    .info {
      position: relative;
    }
  }
  .price_content {
    display: block;
    height: auto;
    div {
      display: block;
      height: auto;
      margin: 2em auto 2em auto;
    }
  }
}
@media only screen and (max-width: 480px) {
  .price {
    .paragraphe_price {
      width: 100%;
      padding-left: 0;
      padding-top: 0;
    }
    .background_price::before {
      content: "";
      background: #fdeae8;
      display: block;
      width: 100%;
      height: 4rem;
      position: absolute;
      border-radius: 2rem;
      left: 0px;
    }
  }

  .price_content {
    display: block;
    height: auto;
    div {
      display: block;
      height: auto;
      margin: 2em auto 2em auto;
    }
  }
}
