.homepage {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: stretch;

  height: 100vh;
}

.container_img {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transform: translateY(30px);
  }
  img:nth-child(1) {
    animation: appear 0.8s 0.2s ease-out forwards;
  }
  img:nth-child(2) {
    animation: appear 0.8s 0.4s ease-out forwards;
  }
  img:nth-child(3) {
    animation: appear 0.8s 0.6s ease-out forwards;
  }
}

.img_responsive {
  display: none;
  margin-top: 2em;
  img {
    object-fit: cover;
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
  }
  img:nth-child(1) {
    animation: appear 0.8s 0.2s ease-out forwards;
  }
}

.container_intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .container_intro_text {
    width: 80%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(30px);
    animation: appear 1s 1s ease-out forwards;

    p {
      position: relative;
      font-size: 0.9em;
      line-height: 2em;
      text-align: justify;
      width: 85%;
    }
  }

  p:after {
    content: "";
    width: 15%;
    height: 5px;
    position: absolute;
    background: $titlecolor;
    left: 0;
    bottom: -35px;
  }
}

.btn_accueil {
  border: solid 3px $pinklight;
  border-radius: 3rem;
  background: $pinklight;
  background: linear-gradient(to right, white 50%, $pinklight 50%);
  font-family: $font1;
  font-size: 1.6rem;
  color: $titlecolor;
  width: 9em;
  cursor: pointer;
  margin-top: 12%;
  padding-bottom: 5px;
  &:hover {
    background: linear-gradient(to right, $pinklight 100%);
  }
}

h1 {
  color: $titlecolor;
  font-family: $font1;
  font-size: 3.5rem;
  font-weight: 100;
}

.sophrologie {
  background-image: url(../img/sophrologie.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100px;
  margin: 4rem 0 3rem;
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (max-width: 1247px) {
  h1 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 1070px) {
  h1 {
    font-size: 2.5em;
  }
  .cursor {
    display: none;
  }
  body {
    cursor: pointer;
  }
}
@media only screen and (max-width: 900px) {
  header {
    position: relative;
  }

  .homepage {
    display: block;
    height: auto;
  }
  .img_responsive {
    display: block;
  }
  .container_img {
    display: none;
  }
  .container_intro {
    width: 90%;
    margin: 0 auto 0 auto;
    .container_intro_text {
      width: 100%;
      p {
        width: 100%;
      }
    }
  }
  .together {
    height: auto !important;
    margin: 0 auto 0 auto;
    width: 90%;
    .description {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .description_container {
      max-width: 30% !important;
      margin: 3em;
    }
    .description_container_img {
      object-fit: cover;
      max-width: 100% !important;
    }
  }
  .img_responsive {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em !important;
  }
  .container_intro {
    .container_intro_text {
      p {
        width: 100%;
      }
      a {
        margin: 0 auto 0 auto;
      }
    }

    p:after {
      content: "";
      width: 15%;
      height: 5px;
      position: absolute;
      background: $titlecolor;
      left: 0;
      bottom: -36px;
    }
  }

  .together {
    .description_container {
      max-width: 80% !important;
    }
  }
  .btn_accueil {
    margin: 20% 0 10% 0;
  }
  .img_responsive {
    margin-top: 0;
  }
}
