.whoAmI {
  height: 100vh;
  position: relative;

  .whoContainer {
    display: flex;
    height: 80vh;
    position: relative;
    align-content: center;
    align-items: center;
    div {
      max-width: 46%;
      h2 {
        font-family: $font1;
        color: $titlecolor;
        font-size: 3rem;
        font-weight: 100;
        padding: 2.2rem 0 1rem 1.2rem;
      }
      p {
        font-size: 0.9em;
        line-height: 2em;
        text-align: justify;
        padding: 2.2rem 0 1rem 1.2rem;
        position: relative;
        background: linear-gradient(45deg, #fdeae8 50%, white 50%);
        padding: 1em;
        border-radius: 0.5em;
      }
      p:after {
        content: "";
        width: 15%;
        height: 5px;
        position: absolute;
        background: #ad6c6c;
        left: 0;
        bottom: -36px;
      }
    }

    img {
      object-fit: cover;
      max-width: 50%;
      max-height: 100vh;
      position: absolute;
      right: 0;
    }
  }
}

.img_responsive_sandra {
  display: none;
}

.positif {
  background-image: url(../img/POSITIF.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 46%;
  height: 94px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .whoAmI {
    height: auto;
    margin: 0 auto 0 auto;
    width: 90%;
    .whoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto !important;
      img {
        position: relative !important;
      }
      div {
        max-width: 100% !important;
        p {
          padding: 1em;
        }
      }
    }
  }
  h2 {
    text-align: center !important;
  }

  .sandra_pizel {
    display: none;
  }

  .img_responsive_sandra {
    display: block !important;
  }
  .positif {
    position: relative;
    width: 100%;
    margin: 5em auto 1em auto;
    background-position: center;
    left: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .whoAmI {
    .whoContainer {
      div {
        p {
          font-size: 0.9em;
          line-height: 2em;
          text-align: justify;
          padding: 1em;
        }
      }
    }
  }
}
