.contact {
  h1 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .details_contact {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  h2 {
    color: $titlecolor;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
    margin-bottom: 1.5em;
  }
  h3 {
    color: $grey;
    margin-bottom: 0.8em;
  }
  p {
    color: $grey;
  }
  .mobile {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
  }
  .map {
    object-fit: contain;
    margin-bottom: 5em;
  }
}
.title_form {
  color: $pinklight;
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

form {
  max-width: 420px;
  margin: 5em auto 5em auto;
}

.feedback-input {
  color: $grey;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 2em;
  line-height: 22px;
  background-color: transparent;
  border: 5px solid $pinklight;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 5px solid #e2ab9a;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  text-align: center;
  resize: none;
}

[type="submit"] {
  border: solid 3px $pinklight;
  border-radius: 3rem;
  background: $pinklight;
  background: linear-gradient(to right, white 50%, $pinklight 50%);
  font-family: $font1;
  font-size: 1.8rem;
  color: $titlecolor;
  width: 50%;
  margin: 0 auto 0 auto;
  display: block;
  padding-bottom: 5px;
}
[type="submit"]:hover {
  background: $pinklight;
}

[type="submit"]:focus-visible {
  outline: 5px solid #e2ab9a;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
}
@media only screen and (max-width: 900px) {
  .contact {
    h1 {
      width: 90%;
      margin: 0 auto 0 auto;
    }
    .details_contact {
      width: 90%;
      margin: 5em auto 5em auto;
    }
    .form {
      width: 90%;
      margin: 0 auto 0 auto;
    }
  }
}

@media only screen and (max-width: 480px) {
  .contact {
    h1 {
      width: 90%;
      margin: 0 auto 0 auto;
    }
    .details_contact {
      .details {
        margin-bottom: 2em;
      }
    }
  }
  .title_form {
    font-size: 2.3em;
  }
}

/*
A GARDER POUR ANIM
background-attachment: fixed !important;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text !important;
background: url(../img/pissenlit_one.png);
background-position: center -272px;*/
